
  .first {
    background-color: blueviolet;
    
  }
  .secnd {
    background-color: rgb(235, 83, 13);
    
  }

  .third {
    background-color: rgb(30, 17, 226);
    
  }

  .fourth {
    background-color: rgb(240, 14, 14);
    
  }