.first-div {

    display:block;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    font-family: 'Itim', cursive;
    border: 2px solid black;
    
}
.link-class{

    float: right;
}
#heading1{
    font-family: 'Itim', cursive;
    text-align: center;
}
.myform{
    display: inline-block;
    text-align: right;
    clear: left;
    width: 150px;
    text-align: right; 
}
.button {
    background-color: #e5e90a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }