.flex-container {
   
    border: 5px solid seagreen;
    background-color: burlywood;
    padding: 10px;
    display:flex;
    justify-content:flex-end;
    /*shorthand property
    flex-flow: row nowrap;*/

    /*full form of properties*/
    border: row;
    flex-wrap:nowrap;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    
    
}
.flex-container > div{

width: 300px;
background-color: rgb(160, 109, 33);
margin: 10px;
padding: 10px 10px 10px 10px;
}
