.div1 {
   
    float: right;
    border: 5px solid seagreen;
    background-color: burlywood;
    padding: 10px;
    /*display:block;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;*/
    
}

.div2 {

    float: left;
    border: 5px solid rgb(244, 248, 1);
    background-color: burlywood;
    padding: 10px;
    /*display:block;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;*/
}

.div3{
    border: 5px solid rgb(46, 1, 248);
    background-color: coral;
    clear: both;
    /*display:block;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;*/
}

