.flex-container {
      
    display:flex;
    align-content: center;
    /*full form of properties*/
    border: row;
    flex-wrap:nowrap;
    margin: 20px;
    border: 5px solid seagreen;
    background-color: burlywood;
    height: 300px;
    padding: 10px;
    
    
}

.flex-container > .div1, .div2, .div3{

width: 100px;
background-color: rgb(160, 109, 33);
margin: 10px;
padding: 10px 10px 10px 10px;
} 
.flex-container > .div1{
    order: 3;
   
}
.flex-container > .div2{
    order: 1;
    
}
.flex-container > .div3{
    order: 2;
    
}

.grid-container {
      
    display:grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: auto auto auto;
      
    
    border: 5px solid rgb(245, 5, 5);
    background-color: rgb(135, 205, 222);
    height: 300px;
    padding: 10px;
    
    
}
.grid-container > div{

    width: 100px;
    background-color: rgb(160, 33, 122);
    margin: 10px;
    padding: 10px 10px 10px 10px;
    } 

