.container {

    width: 100%;
    padding: 10px;
    border: 10px solid seagreen;
}
div p{

    color:rgb(87, 6, 240);
    background-color: cyan;
    text-align: center;
}
.container p {
    background-color: darkgoldenrod;
    border:groove blueviolet;

}
.second-div span{
    font-size: 32px;
}