.first-div {

    width: 100%;
    padding: 10px;
    border: 10px solid seagreen;
}
.third-div p{

    color:rgb(87, 6, 240);
    background-color: cyan;
    text-align: center;
}
.third-div + p {
    background-color: yellow;
    font-size: x-large;
  }

.first-div p {
    background-color: darkgoldenrod;
    border:groove blueviolet; 

}
.fourth-div ~ p {
    background-color: rgb(238, 10, 169);
  }
.fifth-div span{
    font-size: 32px;
}

